html {
    background: #ddd;
}

body {
    font-size: 93%; /* 12px */
    background: #ddd;
    padding: 15px 0 15px;
}

h1,h2,h3,strong {
    font-weight: bold;
}

h1 {
    font-size: 167%;
}

h2 {
    font-size: 153.9%;
}

h3 {
    font-size: 123.1%;
}

p, ul, ol { 
    margin-bottom: 9px; 
}

li {
    list-style-type: circle;
    margin-bottom: 3px;    
    margin-left: 2em;
}

ol {
    margin-left: 2em;
}

pre {
    padding: 8px 5px 8px 5px;
    margin: 0 0 5px 0;
}

/* header */
.header {
    padding-bottom:35px;
    border-bottom: 1px dotted #ddd;
}

.header h1 {
    font-size: 400%;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: 15px;
}

.header a {
    text-decoration: none;
    color: #000;    
}

.header a:hover {
    text-decoration: none;
}

.byline {
    color: #888;
    }

.byline a {
    color: #ddd;
    }

#doc4 {
    border: 8px solid black;
    background-color: #fff;
    padding: 10px;
}

.content {
    border-right: 1px dashed #ddd;
}

.content a:hover { background: #ddd; }

.sidebar h3 {
    color: #777;
}

.sidebar a {
    text-decoration: none;
}
p
.sidebar a:hover {
    text-decoration: none;
}

.post {
    border-bottom: 1px dashed #ddd;
    padding: 10px 10px 12px 0;
}

.addthis a:hover { background: #fff }

.footer {
    padding: 10px 0 0 0;
}

.footer li {
    list-style: square;
    float: left;
}
