# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^tag(/.+)? /archive.html [R,NC]
</IfModule>

# ----------------------------------------------------------------------
# custom 404 page
# ----------------------------------------------------------------------
ErrorDocument 404 /error/404.html

# ----------------------------------------------------------------------
# redirects
# ----------------------------------------------------------------------
Redirect 301 /atom/ http://feeds2.feedburner.com/sethmason
Redirect 301 /atom http://feeds2.feedburner.com/sethmason
Redirect 301 /rss/ http://feeds2.feedburner.com/sethmason
Redirect 301 /rss http://feeds2.feedburner.com/sethmason
Redirect 301 /contact/ http://sethmason.com/contact.html
Redirect 301 /contact http://sethmason.com/contact.html
Redirect 301 /archive/ http://sethmason.com/archive.html
Redirect 301 /archive http://sethmason.com/archive.html
Redirect 301 /about/ http://sethmason.com/about.html
Redirect 301 /about http://sethmason.com/about.html
Redirect 301 /blog/39/resolutions/ http://sethmason.com/2009/01/06/resolutions.html
Redirect 301 /blog/38/dojo-snippets-for-emacs/ http://sethmason.com/2008/12/14/dojo-snippets-for-emacs.html
Redirect 301 /blog/37/svn-log-made-easy/ http://sethmason.com/2008/12/01/svn-log-made-easy.html
Redirect 301 /blog/36/commandline-fun/ http://sethmason.com/2008/11/05/commandline-fun.html
Redirect 301 /blog/35/more-keyboard-fun/ http://sethmason.com/2008/10/28/more-keyboard-fun.html
Redirect 301 /blog/33/throw-away-that-mouse/ http://sethmason.com/2008/10/10/throw-away-that-mouse.html
Redirect 301 /blog/34/speaking-of-keyboard-navigation/ http://sethmason.com/2008/10/10/speaking-of-keyboard-navigation.html
Redirect 301 /blog/32/jquery-and-friendfeed-experimentation/ http://sethmason.com/2008/07/24/jquery-and-friendfeed-experimentation.html
Redirect 301 /blog/31/google-code-search-to-the-rescue/ http://sethmason.com/2008/06/18/google-code-search-to-the-rescue.html
Redirect 301 /blog/30/machine-specific-startup-files-in-bash/ http://sethmason.com/2008/06/10/machine-specific-startup-files-in-bash.html
Redirect 301 /blog/29/cost-of-trycatch-in-javascript/ http://sethmason.com/2008/02/15/cost-of-trycatch-in-javascript.html
Redirect 301 /blog/28/emacs-execute-shell-script/ http://sethmason.com/2008/01/22/emacs-execute-shell-script.html
Redirect 301 /blog/27/emacs-tips/ http://sethmason.com/2007/12/28/emacs-tips.html
Redirect 301 /blog/26/lisp-fun/ http://sethmason.com/2007/10/30/lisp-fun.html
Redirect 301 /blog/25/intellij-idea-and-linux-not-like-peanut-butter-and-chocolate/ http://sethmason.com/2007/10/22/intellij-idea-and-linux-not-like-peanut-butter-and-chocolate.html
Redirect 301 /blog/24/editing-huge-amounts-of-files-easily/ http://sethmason.com/2007/10/06/editing-huge-amounts-of-files-easily.html
Redirect 301 /blog/23/vim-tip-select-column/ http://sethmason.com/2007/09/27/vim-tip-select-column.html
Redirect 301 /blog/22/just-cuz/ http://sethmason.com/2007/09/20/just-cuz.html
Redirect 301 /blog/21/command-line-fun/ http://sethmason.com/2007/07/15/command-line-fun.html
Redirect 301 /blog/20/ten-keyboard-shortcuts-for-intellij-idea http://sethmason.com/2007/06/29/ten-keyboard-shortcuts-for-intellij-idea.html
Redirect 301 /blog/19/linux-cut-and-paste http://sethmason.com/2007/06/20/linux-cut-and-paste.html
Redirect 301 /blog/18/cygwin-and-ssh-tip/ http://sethmason.com/2007/06/13/cygwin-and-ssh-tip.html
Redirect 301 /blog/17/bashrc-fun-with-subversion/ http://sethmason.com/2007/06/12/bashrc-fun-with-subversion.html
Redirect 301 /blog/16/got-ugly-sql/ http://sethmason.com/2007/06/09/got-ugly-sql.html
Redirect 301 /blog/15/keeping-it-real-safe-and-real-easy/ http://sethmason.com/2007/06/02/keeping-it-real-safe-and-real-easy.html
Redirect 301 /blog/14/debugging-is-sexy-good-times/ http://sethmason.com/2007/05/24/debugging-is-sexy-good-times.html
Redirect 301 /blog/2/welcome-to-sethmasoncom/ http://sethmason.com/2007/05/22/welcome-to-sethmasoncom.html
Redirect 301 /blog/13/writing-tests-to-expand-your-brain/ http://sethmason.com/2007/05/22/writing-tests-to-expand-your-brain.html


# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------
# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
#   We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unncessary to declare
</IfModule>

# ----------------------------------------------------------------------
# Webfont access
# ----------------------------------------------------------------------

# allow access from all domains for webfonts
# alternatively you could only whitelist
#   your subdomains like "sub.domain.com"

<FilesMatch "\.(ttf|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

# ----------------------------------------------------------------------
# Proper MIME type for all files
# ----------------------------------------------------------------------

# audio
AddType audio/ogg                      oga ogg

# video
AddType video/ogg                      ogv
AddType video/mp4                      mp4
AddType video/webm                     webm

# Proper svg serving. Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml              svg svgz 
AddEncoding gzip                       svgz
                                       
# webfonts                             
AddType application/vnd.ms-fontobject  eot
AddType font/truetype                  ttf
AddType font/opentype                  otf
AddType application/x-font-woff        woff

# assorted types                                      
AddType image/x-icon                   ico
AddType image/webp                     webp
AddType text/cache-manifest            appcache manifest
AddType text/x-component               htc
AddType application/x-chrome-extension crx
AddType application/x-xpinstall        xpi
AddType application/octet-stream       safariextz

# ----------------------------------------------------------------------
# gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>


# force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s,?\s(gzip|deflate)?|X{4,13}|~{4,13}|-{4,13})$ HAVE_Accept-Encoding
    RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
  </IfModule>
</IfModule>
# html, txt, css, js, json, xml, htc:
<IfModule filter_module>
  FilterDeclare   COMPRESS
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type /text/(html|css|javascript|plain|x(ml|-component))/
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type /application/(javascript|json|xml|x-javascript)/
  FilterChain     COMPRESS
  FilterProtocol  COMPRESS  change=yes;byteranges=no
</IfModule>

<IfModule !mod_filter.c>
  # Legacy versions of Apache
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript 
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
</IfModule>

# webfonts and svg:
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>



# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------
<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# your document html 
  ExpiresByType text/html                 "access plus 0 seconds"
  
# data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"

# rss feed
  ExpiresByType application/rss+xml       "access plus 1 hour"

# favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week" 

# media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType image/jpg                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"
  
# htc files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"
  
# webfonts
  ExpiresByType font/truetype             "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
    
# css and javascript
  ExpiresByType text/css                  "access plus 2 months"
  ExpiresByType application/javascript    "access plus 2 months"
  ExpiresByType text/javascript           "access plus 2 months"
  
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
  
</IfModule>

# ----------------------------------------------------------------------
# ETag removal
# ----------------------------------------------------------------------

# Since we're sending far-future expires, we don't need ETags for
# static content.
#   developer.yahoo.com/performance/rules.html#etags
FileETag None



# Turning on the rewrite engine is necessary for the following rules and features.

# ----------------------------------------------------------------------
# Suppress or force the "www." at the beginning of URLs
# ----------------------------------------------------------------------
# Rewrite "www.domain.com -> domain.com" 

<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# ----------------------------------------------------------------------
# Add/remove trailing slash to (non-file) URLs
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/|#(.*))$
  RewriteRule ^(.*)$ /$1/ [R=301,L]
</IfModule>
	
# ----------------------------------------------------------------------
# Prevent 404 errors for non-existing redirected folders
# ----------------------------------------------------------------------
Options -MultiViews 


# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss



# ----------------------------------------------------------------------
# A little more security
# ----------------------------------------------------------------------

# "-Indexes" will have Apache block users from browsing folders without a default document
Options -Indexes

# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteRule "(^|/)\." - [F]
</IfModule>
