---
disqus_developer: 0
show_recent: false
---
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta name="viewport" content="width = device-width" />
    {% if page.type == 'home' %}
    <meta name="description" content="The resource for all things Seth Mason" />
    {% endif %}

    <title>{{page.title}} - [sethmason.com]</title>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://slackorama.myopenid.com/" />
    <link rel="openid2.local_id" href="http://slackorama.myopenid.com" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=slackorama.myopenid.com" />

    <link rel="stylesheet" media="Screen, projection" href="/css/styles.css" />
    <link rel="stylesheet" media="Screen, projection" href="/css/syntax.css" />    
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="http://feeds2.feedburner.com/sethmason" />     
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.fontavailable-1.1.min.js"></script>
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
	<script type="text/javascript" src="/js/GillSans_400.font.js"></script>
    <script type="text/javascript">$(document).ready(function() { if(!$.fontAvailable('GillSans')) { Cufon.replace('h1','h2','h3','h4','h5','h6','nav','.byline','.dsq-comment-header','footer'); } });</script>

    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css" /><![endif]-->
    <!--[if IE 6]><script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>
                  <script type="text/javascript" src="/js/menu.js"></script><![endif]-->

</head><body id="{{page.type}}">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2071015-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>
<div class="wrapper">

<!-- ===========================================================================
  HEADER <<< ———————————————————————————————————————————————————————————————————
============================================================================ -->

    <header>
        <h1><a href="/index.html">S<span>E</span>T<span>H</span>M<span>A</span>S<span>O</span>N</a></h1>
    </header>


<!-- ===========================================================================
  NAV MENU <<< —————————————————————————————————————————————————————————————————
============================================================================ -->

	<nav><div id="menu">
        <ul class="menu">
            <li><a href="/index.html" title="Seth's Home Page">Home</a></li>
            <li><a href="/about.html" title="All About Seth Mason" rel="me">About</a></li>
            <li><a href="/archive.html" title="Archived Posts">Archives</a>
                <!-- <ul> -->
                <!--     <li><a href="#" title="foo">Dec 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Nov 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Oct 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Sep 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Aug 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Jul 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Jun 2009</a></li> -->
                <!--     <li><a href="#" title="foo">May 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Apr 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Feb 2009</a></li> -->
                <!--     <li><a href="#" title="foo">Jan 2009</a></li> -->
                <!-- </ul> -->
            </li>
            <li><a href="/contact.html" title="Contact Seth Mason">Contact</a></li>
            <li><a href="/terms-of-use.html" title="Seth's Terms of Use">Terms of Use</a></li>
            <li class="last"><a href="#" title="Follow Me Online">Follow Me</a>
                <ul>
                  <li><a href="http://www.linkedin.com/in/sethmason"
                         title="Seth's LinkedIn Profile">LinkedIn</a></li>
                    <li><a href="http://www.twitter.com/slackorama"
                           title="Seth's Twitter Profile">Twitter</a></li>
                    <li><a href="http://www.facebook.com/sethmason"
                           title="Seth's Facebook Page">Facebook</a></li>
                    <li><a href="http://www.github.com/slackorama"
                           title="Seth's Github">Github</a></li>
                    <li><a href="http://www.friendfeed.com/slackorama"
                           title="Seth's FriendFeed">FriendFeed</a></li>
                    <li><a href="http://feeds2.feedburner.com/sethmason"
                           title="Seth's Feed">Subscribe</a></li>
                </ul>
            </li>
        </ul>
    </div></nav>


<!-- ===========================================================================
  CONTENT <<< ——————————————————————————————————————————————————————————————————
============================================================================ -->
    <div class="center">
      <section>
        {{ content }}
      </section>
    </div>
	<div class="push"></div>
</div>

<!-- ===========================================================================
  FOOTER <<< ———————————————————————————————————————————————————————————————————
============================================================================ -->

    <footer>
        <p class="credit"><a href="http://www.sproutcreative.com">Design by Sprout Creative</a></p>
    </footer>


<!-- ===========================================================================
  SCRIPTS <<< ——————————————————————————————————————————————————————————————————
============================================================================ -->

	<script type="text/javascript">Cufon.now();</script><!-- Makes IE behave with Cufon -->
	<script type="text/javascript" src="/js/jquery.bigtarget.1.0.1pack.js"></script>
    <script type="text/javascript">$(document).ready(function(){$(".posts a").bigTarget();});</script>    
</body></html>
